header{
    text-align: center;
    background-color: aqua;
    margin: 0 auto;
    border-top: 0;
}

img{
     width: 200px;
    max-width: 95%;
    align-items: left;
    border: 5px solid #555;
}

footer{
     text-align: center;
    background-color: mediumaquamarine;
    margin: 0 auto;
    border-top: 0;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

ul{
    list-style: lower-greek;
    font-family: cursive;
}

button{
    background: #f9004d;
    color: #fff;
    text-decoration: none;
    border: 2px solid transparent;
    font-weight: bold;
    padding: 13px 30px;
    border-radius: 30px;
    transition: .4s;
}